{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Почтоматы</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for post_machine in post_machines %}
                        <li class="list-group-item">
                            <a href="/post_machine/{{ post_machine.pk }}/">{{ post_machine }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}