{% extends 'base.html' %}
{% block content %}
    {% if parcel.locker is not None and parcel.status == False %}
        <div class="alert alert-success" role="alert">
            <p>Подтвердите получение посылки</p>
            <form method="post" action="/parcels/get_parcel/">
                {% csrf_token %}
                <input type="hidden" name="parcel_id" id="parcel_id" value="{{ parcel.pk }}">
                <input type="submit" value="Подтвердить">
            </form>
        </div>
    {% endif %}
{% endblock %}