{% extends 'base.html' %}

{% block content %}
    {% for parcel in parcels %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h3>Почтомат № {{ parcel.pk }}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Отправитель:</b> {{ parcel.sender }}</li>
                        <li class="list-group-item"><b>Получатель:</b> {{ parcel.recipient }}</li>
                        <li class="list-group-item"><b>Город:</b> {{ parcel.post_machine_recipient.city }}</li>
                        <li class="list-group-item"><b>Адрес:</b> {{ parcel.post_machine_recipient.address }}</li>
                        <li class="list-group-item"><b>Размер:</b> {{ parcel.size }}</li>
                        <li class="list-group-item"><b>Статус:</b> {% if parcel.status == False %} В пути {% else %} Открыт
                            {{ parcel.open_datetime }} {% endif %}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <form method="post" action="/parcels/{{ parcel.pk }}/">
                        {% csrf_token %}
                        {% if parcel.status %}
                            <input type="submit" value="Отменить">
                        {% else %}
                            <input type="submit" class="btn btn-outline-primary text-center" value="Получить">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}